
li,
.nav {
    margin: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    text-decoration: none;
}


.navdiv {
    display: flex;
    justify-content: space-around;
    width: 76%;
    background-color: rgb(209, 209, 188);
    border-radius: 7px;
    margin-left: 21%;
    margin-top: 10px;
}
