<!-- BEGIN: Navbar -->
<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="NowPlaying($event)">Now Playing</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="Popular($event)">Popular</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link">Top Rated</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link">Upcoming</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link">Favorites</a></li>
  </ul>
  <div class="navbar-search">
    <input type="text" class="search-input" placeholder="Search">
    <button class="search-button">Search</button>
  </div>
</nav>


