<!-- BEGIN: Navbar -->
<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="NowPlaying($event)">Now Playing</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="Popular($event)">Popular</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="TopRated($event)">Top Rated</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="Upcoming($event)">Upcoming</a></li>
    <li class="navbar-item"><a href="#" class="navbar-link" (click)="Favorites($event)">Favorites</a></li>
  </ul>
  <div class="navbar-search">
    <form (ngSubmit)="Search($event)">
      <input type="text" id="textInput" name="textInput" [(ngModel)]="searchText">
      <button type="submit">Submit</button>
    </form>
  </div>
</nav>
