body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container-expanded {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.movie-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.movie-poster {
  flex: 0 0 300px;
  margin-right: 20px;
}

.movie-poster img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.movie-info {
  flex: 1;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-release-date {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.movie-overview {
  margin-bottom: 10px;
}

.movie-casts {
  font-weight: bold;
}

.favorites-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: black; /* Initial color */
  cursor: pointer;
}

.favorites-icon.favorited {
  color: red; /* Color when favorited */
}
