<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Details</title>
  
</head>
<body>
  <div class="container-expanded">
    <div class="movie-details">
      <div class="movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ details?.poster_path }}" alt="Movie Poster">
      </div>
      <div class="movie-info">
        <h1 class="movie-title">{{details?.title}}</h1>
        <p class="movie-release-date">Release Date: {{details?.release_date}}</p>
        <p class="movie-overview">{{details?.overview}}</p>
        <p class="movie-casts">Cast: {{ credits.join(', ') }}</p>
      </div>
    </div>
  </div>
  <div class="favorites-icon" id="favoritesIcon" (click)="toggleFavorite()">&#10084;</div>

  <script>
    function toggleFavorite() {
      var favoritesIcon = document.getElementById('favoritesIcon');
      favoritesIcon.classList.toggle('favorited');
    }
  </script>
</body>
</html>
