<html>

<head></head>

<body>
    <h1> API: themoviedb.org</h1>
    <div class="main_container">
      <div class="container">
        <div class="row">
          <app-topnav></app-topnav>
        </div>
        <div class="row">
          <div class="col">
            <app-genre-menu></app-genre-menu>
          </div>
          <div class="col">
            <app-films></app-films>
          </div>
        </div>
        <div class="row">
          <app-navbar></app-navbar>
        </div>
      </div>

    </div>

</body>

</html>
